@charset "UTF-8";

body.vi {
  font-family: 'Times new roman';
}

.flex-1,
.flex-10,
.flex-11,
.flex-12,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-8,
.flex-9,
.header .inner .logo {
  float: left;
}

.footer .inner:after,
.header .inner:after,
.row:after {
  clear: both;
  content: '';
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font:
    12px/1.5tahoma,
    arial,
    \5b8b\4f53;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

a:hover {
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 15.625vw;
  }
}

.row {
  zoom: 1;
}

.row:after {
  display: block;
  height: 0;
}

.flex-1 {
  width: 8.33333%;
}

.flex-2 {
  width: 16.66667%;
}

.flex-3 {
  width: 25%;
}

.flex-4 {
  width: 33.33333%;
}

.flex-5 {
  width: 41.66667%;
}

.flex-6 {
  width: 50%;
}

.flex-7 {
  float: left;
  width: 58.33333%;
}

.flex-8 {
  width: 66.66667%;
}

.flex-9 {
  width: 75%;
}

.flex-10 {
  width: 83.33333%;
}

.flex-11 {
  width: 91.66667%;
}

.flex-12 {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #79E05D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header .inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  zoom: 1;
  transition: all 0.3s linear;
}

.header .inner:after {
  display: block;
  height: 0;
}

.header .inner.rHeight {
  height: 80px !important;
}

.header .inner.rHeight .logo,
.header .inner.rHeight .nav {
  height: 80px;
  line-height: 80px;
}

.header .inner .logo,
.header .inner .nav {
  height: 150px;
  line-height: 150px;
  transition: all 0.2s linear;
}

.header .inner .logo {
  width: 72px;
  margin-left: 40px;
}

.header .inner .logo img {
  vertical-align: middle;
  /* width: 100% */
}

.header .inner .nav {
  float: right;
}

.header .inner .nav .nav-a {
  transition: all 0.2s linear;
  font-size: 18px;
  color: #bcdfff;
  width: auto;
  padding: 0 40px;
  text-align: center;
  display: inline-block;
}

.header .inner .nav .nav-a :hover,
.header .inner .nav .nav-a.active {
  color: #fff;
  font-weight: 700;
}

.header .inner .nav .nav-a.language > span {
  color: #fff;
  background: #54C835;
  width: 91px;
  height: 31px;
  display: inline-block;
  line-height: 31px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
}

.header .inner .nav .nav-a.language > span img {
  width: 6px;
}

.header .inner #openBtn .close,
.header .inner .phone-language,
.up-arrow,
.w-nav {
  display: none;
}

.footer {
  background: #f7f9fb;
  width: 100%;
  min-width: 1200px;
}

.footer .inner {
  width: 447px !important;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  zoom: 1;
}

.footer .inner:after {
  display: block;
  height: 0;
}

.footer .inner .footer-logo {
  width: 46px;
  line-height: 120px;
  display: inline-block;
  margin-right: 23px;
  vertical-align: top;
}

.footer .inner .footer-logo img {
  vertical-align: middle;
  width: 100%;
}

.footer .inner .footer-content {
  font-size: 14px;
  color: #a1afc2;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  margin: 38px 0;
}

.footer .inner .footer-content div {
  text-align: left;
}

@-webkit-keyframes bounceInUp {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

@-webkit-keyframes bounceIn {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@keyframes movell {
  0% {
    left: auto;
    right: 0;
  }

  40% {
    width: 0;
    left: auto;
    right: 0;
  }

  60% {
    left: 0;
    right: auto;
    width: 0%;
  }

  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@-webkit-keyframes movell {
  0% {
    left: auto;
    right: 0;
  }

  40% {
    width: 0;
    left: auto;
    right: 0;
  }

  60% {
    left: 0;
    right: auto;
    width: 0%;
  }

  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes upToDown {
  0%,
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(0, -10px);
    opacity: 0.8;
  }
}

@-webkit-keyframes upToDown {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    -webkit-transform: translate(0, -10px);
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 6.4rem;
  }

  .header .inner {
    height: 1rem;
    width: 100%;
  }

  .header .inner.rHeight {
    height: 1rem !important;
  }

  .header .inner .logo,
  .header .inner.rHeight .logo {
    line-height: 1;
    height: 0.4rem;
  }

  .header .inner .logo {
    width: 0.72rem;
    margin: 0.3rem 0.48rem 0;
  }

  .header .inner .logo img {
    vertical-align: text-top;
    height: 100%;
  }

  .header .inner .nav {
    display: none;
  }

  .header .inner #openBtn {
    display: block;
    position: absolute;
    color: #27282c;
    top: 0;
    padding-top: 0.5rem;
    padding-right: 0.83rem;
    right: 0;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    cursor: pointer;
    margin-top: -0.16rem;
    width: 0.3rem;
  }

  .header .inner #openBtn:hover {
    -webkit-tap-highlight-color: transparent;
  }

  .header .inner #openBtn .hide {
    display: none;
    opacity: 1 !important;
  }

  .header .inner #openBtn .lcbody {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    width: 0.32rem;
    height: 0.32rem;
  }

  .header .inner #openBtn .lcbody .lcitem {
    width: 100%;
    background: 0 0;
    height: 0.04rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    -webkit-transition: 0.36s;
    -moz-transition: 0.36s;
    transition: 0.36s;
  }

  .header .inner #openBtn .lcbody .lcitem div {
    position: absolute;
    width: 100%;
    height: 0.04rem;
    top: 0;
    left: auto;
    right: 0;
    background: #fff;
    border-radius: 0.08rem;
  }

  .header .inner #openBtn .lcbody .lcitem.center {
    display: block;
    top: 0.14rem;
  }

  .header .inner #openBtn .lcbody .lcitem.center div {
    animation: movell 0.4s;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
  }

  .header .inner #openBtn .lcbody .lcitem.top {
    top: 0;
  }

  .header .inner #openBtn .lcbody .lcitem.top div {
    animation: movell 0.4s;
    animation-fill-mode: both;
    animation-delay: 0;
  }

  .header .inner #openBtn .lcbody .lcitem.bottom {
    bottom: 0;
  }

  .header .inner #openBtn .lcbody .lcitem.bottom div {
    animation: movell 0.4s;
    animation-delay: 0.2s;
  }

  .openMenu #openBtn .lcbody .lcitem.bottom div,
  .openMenu #openBtn .lcbody .lcitem.center div,
  .openMenu #openBtn .lcbody .lcitem.top div {
    animation-duration: 0.5s;
  }

  .header .inner #openBtn .lcbody .close {
    display: block;
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    top: 0;
    background: url(../images/nav-list.png) center no-repeat;
    background-size: 100% !important;
  }

  .header .inner .phone-language {
    display: block;
    position: absolute;
    top: 0;
    right: 1.2rem;
    padding-top: 0.35rem;
    font-size: 0.2rem;
  }

  .header .inner .phone-language span {
    background: #54C835;
    padding: 0.04rem 0.08rem;
    color: #fff;
    border-radius: 0.06rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .inner .phone-language span img {
    width: 0.06rem;
    height: 0.1rem;
  }

  .openMenu #openBtn .lcbody .lcitem {
    opacity: 0;
  }

  .openMenu #openBtn .lcbody .lcitem.top {
    top: 0.134rem !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .openMenu #openBtn .lcbody .lcitem.center {
    opacity: 0 !important;
  }

  .openMenu #openBtn .lcbody .lcitem.bottom {
    bottom: 0.14rem !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .openMenu #openBtn .lcbody .close {
    background: url(../images/close.png) center no-repeat !important;
  }

  .openMenu .w-nav .w-nav-list {
    top: 1rem !important;
  }

  .w-nav {
    display: block;
  }

  .w-nav .w-nav-list {
    position: fixed;
    top: -30%;
    left: 0;
    z-index: 9;
    background-color: #79E05D;
    transition: top 0.3s ease-in-out;
    width: 6.4rem;
  }

  .w-nav .w-nav-list hr {
    margin: 0 0.4rem;
    background: #309cff;
    border: none;
    height: 1px;
  }

  .w-nav .w-nav-list .w-nav-a {
    line-height: 1rem;
    height: 1rem;
    color: #bcdfff;
    font-size: 0.3rem;
    text-align: center;
    width: 100%;
    display: block;
  }

  .w-nav .w-nav-list .w-nav-a.active {
    color: #fff;
    font-weight: 700;
  }

  .w-nav .nav-modal {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: background-color 0.3s ease-in-out 0.3s;
    top: 0;
    left: 0;
    z-index: 8;
    display: none;
  }

  .footer {
    width: 100%;
    min-width: 100%;
  }

  .footer .inner {
    width: 100% !important;
    height: 1.04rem;
    margin: 0 auto;
    overflow: hidden;
  }

  .footer .inner .footer-logo {
    display: none;
  }

  .footer .inner .footer-content {
    font-size: 0.2rem;
    margin: 0;
    height: 1.04rem;
    line-height: 1.04rem;
    display: block;
  }

  .footer .inner .footer-content div {
    text-align: center;
  }

  .up-arrow {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    text-align: center;
    animation: upToDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .up-arrow img {
    width: 0.74em;
  }
}

.about-inner {
  width: 1128px;
  margin: 0 auto;
  padding-top: 248px;
  height: calc(100vh - 120px);
}

.about-inner .title {
  font-size: 46px;
  color: #00295f;
  margin-bottom: 46px;
  font-weight: 700;
  height: 112.5px;
  background: url(../images/ABOUTUS.png) top left no-repeat;
  line-height: 3.85;
}

.about-inner .description {
  font-size: 20px;
  color: #08223e;
}

@media screen and (max-width: 768px) {
  .about-inner {
    width: 92%;
    margin: 0 4%;
    padding-top: 2rem;
    height: calc(100vh - 1rem);
  }

  .about-inner .title {
    font-size: 0.46rem;
    margin-bottom: 0.46rem;
    height: 1rem;
    background-size: 60%;
    line-height: 1.6rem;
  }

  .about-inner .description {
    font-size: 0.28rem;
  }
}
